<% provide(:title, 'Edit user') %>
<div class="row">
  <div class="span6 offset3">
    <h1 class="center">Update your profile</h1>

    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Save changes", :class => "btn btn-large btn-primary", :id => "btnSignup" %>

      <%= link_to "Delete Account", user_path(@user), :class => "btn btn-large btn-danger", :id => "btnDeleteAccount", :method => :delete %>
    <% end %>

    <div>
      <%= gravatar_for @user %>
      <%= link_to 'change', 'http://en.gravatar.com/emails', :target => :blank %>
    </div>
  </div>
</div>
